<div class="row">
  <div class="col-xs-12 text-xs-center">
    <% AuthProxy.config.providers.each do |name, provider| %>
    <a href="/auth/<%= provider[:provider] %>" class="btn btn-primary">
      Login with <%= provider[:display_name] %>
    </a>
    <% end %>
  </div>
</div>
